Message infomation:
Content:<%=@message.content%><br>
Alien Id: <%=@message.alien_id%><br>
This message was sent by: <%=@message.show_alien%><br>
The alien who sent this has a power of: <%=@message.alien.show_powers%>
<br>
<a href="/messages/<%=@message.id%>/edit">Edit message</a>

<form method="post" action="/messages/<%=@message.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
