Power name: <%=@power.name%><br>

Aliens with this power:<br>
<%@power.aliens.each do |alien|%>
  <%=alien.name%>:<br>
  <%=alien.alien_home%><br>
  <%=alien.show_messages%>
  <br><br>
<%end%>

<a href="/powers/<%=@power.id%>/edit">Edit</a>
<form method="post" action="/powers/<%=@power.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
