We have indexed <%=Alien.count%> aliens!
The most powerful alient is <%=Alien.most_powerful_alien%>
<br>

<%@aliens.each do |alien|%>
  <br><br>
  <a href="/aliens/<%=alien.id%>">
    Name: <%=alien.name%><br>
    Location id: <%=alien.location_id%><br>
    Image: <img src="<%=alien.picture%>" alt="alien.picture" />
    <br>
    <br>
  </a>

<%end%>
