Hi this is the alien show page<br>

Alien name: <%=@alien.name%><br>
Alien powers: <%=@alien.show_powers%><br>
Location ID: <%=@alien.location_id%><br>
<%=@alien.show_location%><br>

This alien sends the following message(s): <%=@alien.show_messages%><br>
<img src="<%=@alien.picture%>" >
<form method="post" action="/aliens/<%=@alien.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<a href="/aliens/<%=@alien.id%>/edit">Edit</a>
